* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgba(7, 92, 204, 0.674);
}

#root {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  gap: 100px;
}

.login p {
  font-size: 24px;
}

#start {
  width: 350px;
  height: 75px;
  font-size: 44px;
  border-radius: 20px;
  color: yellow;
  background-color: rgb(0, 0, 165);
  cursor: pointer;
}

#start:hover {
  background-color: red;
  color: yellow;
}

#start:active {
  background-color: black;
  color: white;
}
