

.result-container {
  width: 40%;
  min-width: 650px;
  padding: 20px;
  background-image: linear-gradient( 90.9deg,  rgb(112, 147, 251) -8.8%, rgba(255,220,177,1) 12.4%, rgba(255,249,177,1) 35.6%, rgba(220,255,177,1) 59.6%, rgb(139, 197, 248) 84%, rgb(41, 80, 255) 108.29% );
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
  margin-top: 20%;

}

.score-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.results, .score {
  flex: 1;
}

.header {
  font-size: 24px;
  margin-bottom: 10px;
}

.result {
  font-size: 20px;
  margin-bottom: 5px;
}

.total {
  font-size: 36px;
  font-weight: bold;
  color: #0b07f7e8;
}

.result-list {
  list-style: none;
  padding: 0;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}

.correct-answer-label {
  color: green;
  font-weight: bold;
}

.correct-answer, .wrong-answer {
  font-size: 20px;
}
